# -----------------------------------
#       APP
# -----------------------------------
IDENTITY_APP_NAME=GameHangar
IDENTITY_APP_VERSION=0.0.1-dev
IDENTITY_APP_COMMIT_ID=
IDENTITY_APP_ENV=dev

# ||||||||||||||||
# SERVER
# ||||||||||||||||
IDENTITY_APP_SERVER_HOST=
IDENTITY_APP_SERVER_PORT=8080
IDENTITY_APP_SERVER_READ_TIMEOUT_SECONDS=15
IDENTITY_APP_SERVER_WRITE_TIMEOUT_SECONDS=15
IDENTITY_APP_SERVER_IDLE_TIMEOUT_SECONDS=60
IDENTITY_APP_SERVER_SHUTDOWN_GRACE_TIMEOUT_SECONDS=10
IDENTITY_APP_SERVER_MAX_HEADER_SIZE=8192

IDENTITY_APP_LOG_LEVEL=info
IDENTITY_APP_LOG_FILE=logs/app.log

IDENTITY_APP_CORS_ALLOWED_ORIGINS="*"
IDENTITY_APP_CORS_ALLOWED_METHODS="GET,POST,PUT,DELETE,OPTIONS"
IDENTITY_APP_CORS_ALLOWED_HEADERS="Origin,Content-Type,Authorization"
IDENTITY_APP_CORS_ALLOWED_CREDENTIALS=true

# ||||||||||||||||
# AUTH
# ||||||||||||||||

# ---------------------------------------
# Database
# ---------------------------------------
# postgres://admin:admin@localhost:5432/game_hangar?sslmode=disable
IDENTITY_POSTGRES_DB=game_hangar
IDENTITY_POSTGRES_CONNECTION_STRING=
IDENTITY_POSTGRES_HOST=localhost
IDENTITY_POSTGRES_PORT=5432
IDENTITY_POSTGRES_USER=admin
IDENTITY_POSTGRES_PASS=admin
IDENTITY_POSTGRES_SSL_MODE=disable
IDENTITY_POSTGRES_MAX_OPEN_CONNECTIONS=10
IDENTITY_POSTGRES_MAX_IDLE_CONNECTIONS=2
IDENTITY_POSTGRES_MAX_CONNECTION_LIFETIME_MINUTES=60
IDENTITY_POSTGRES_MAX_CONNECTION_IDLE_TIME_MINUTES=30
