# -----------------------------------
#       APP
# -----------------------------------

APP_HOST=
APP_PORT=8080
APP_ENV=dev

# ||||||||||||||||
# AUTH
# ||||||||||||||||

# ---------------------------------------
# Database
# ---------------------------------------

